.container {
    display: flex;
    flex-wrap: wrap;
    bacground-color: light-blue;
    
}
.container div {
    background-color: #f1f1f1:
    width: 100px;
    margin: 100px;
    padding: 100px;
    text-align: center;
    font-size: 30px:
}
