body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: red;
    text-shadow: 2px 2px 10px red;
}

p {
    color: white;
    text-shadow: 1px 1px 5px gray;
    font-size: 18px;
}

img {
    margin-top: 20px;
    border: 3px solid red;
    box-shadow: 0 0 20px red;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.container div {
    background-color: #330000;
    border: 1px solid red;
    width: 80px;
    height: 80px;
    margin: 5px;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 15px red;
}

.container div:hover {
    background-color: red;
    color: black;
    cursor: pointer;
}

div {
  width:300px;
  margin:auto;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -5px 10px rgba(255, 0, 0, 0.5);
}


